mkdocs==1.3.0       
mkdocs-material 
pygments>=2.12
pymdown-extensions==9.4  
mkdocstrings==0.17.0 
mknotebooks==0.7.1
pytkdocs_tweaks==0.0.5 
mkdocs_include_exclude_files==0.0.1
jinja2==3.0.3

jax[cpu]
equinox