mkdocs==1.6.1
mkdocs-material==9.6.7
pymdown-extensions==10.16
mkdocstrings==0.28.3
mkdocstrings-python==1.16.8
pygments>=2.20
hippogriffe==0.2.2
griffe==1.7.3

equinox>=0.13.8
jax>=0.10.2
networkx>=3.6.1
